/* Content styling */
.content {
    display: flex;
    flex-direction: column;

    /* Positioning content above the globe */
    z-index: 10;
    /* Ensure content is above the globe */
    padding: 20px;
    /* Add some padding */
    min-height: 200vh;
    /* Ensure there is enough space to scroll */
    text-shadow: 3px 3px 18px rgba(18, 79, 9, 1);
    /* justify-content: space-between; */
}



.Title {
    text-align: center;
    font-size: 200%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;

    align-self: center;
    /* margin every wehre but top*/
    margin: 0px 0px 20px 0px;

    /* create a line seperating the title and below*/
    border-bottom: 3px solid white;
    background-color: rgba(18, 79, 9, 0.479);
}

.hover_over_Titleitems {
    transition: .5s;
}

.hover_over_Titleitems:hover {
    color: rgba(60, 255, 6, 0.816)
}

.onTheLeft {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 20px;
}

.onTheRight {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-right: 20px;
    margin-left: auto;
}

.Introduction {
    display: flex;
    flex-direction: column;
    /* or row, depending on your layout */
    align-items: stretch;
}

.BioImage {
    display: flex;
    flex-direction: row;
}

.BioCard {
    align-self: center;
    flex-grow: 1;
    margin: 10px;

    text-align: center;

    border: 3px solid white;
    border-radius: 10px;
}



.Name {
    /* justify-content: left; */
    font-size: 1200%;
}

.Occupation {
    font-size: 1200%;
}

.Bio {
    font-size: 200%;
}

.Mission {
    font-size: 200%;
}

.Resume {
    font-size: 200%;

    transition: .5s;
}

.Resume:hover {
    color: rgba(60, 255, 6, 0.816);
}

.ContanctCard {
    flex-grow: 1;
    margin: 10px;

    display: flex;

    border: 3px solid white;
    border-radius: 10px;
    /* align-self: flex-end; */
}

.PortfolioImage {
    flex-grow: 1.1;
    margin: 10px;

    align-self: center;
    width: 20%;
    border-radius: 10px;
}

.FindMe {
    display: inline-block;
    gap: 20px;

    text-shadow: none;
    text-align: center;
    font-size: 150%;
}

.Email,
.Telegram {
    display: inline-block;
    border: 3px solid white;
    border-radius: 10px;
    padding: 0px 5px;
    margin: 5px;
    transition: .5s;
    text-decoration: none;
    /* Remove underline from links */
    color: inherit;
    /* Inherit text color */
    text-align: center;
    /* Center text */
}

.Email:hover,
.Telegram:hover {
    background-color: rgba(18, 79, 9, 0.479);
    border: 3px solid rgba(60, 255, 6, 0.816);
    color: white;
}