@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
  font-family: Arial, sans-serif;
  /* Set a default font */
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 3rem;
  /* Heading size */
  margin-bottom: 20px;
  /* Space below heading */
}

p {
  font-size: 1.5rem;
  /* Paragraph size */
  max-width: 600px;
  /* Max width for readability */
}